@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

h2{
    font-family: 'Staatliches', cursive;
}

h1{
    font-family: 'Staatliches', cursive;
}

.label{
    font-family: 'Inter', sans-serif;
}