@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

h2{
    font-family: 'Staatliches', cursive;
}

h1{
    font-family: 'Staatliches', cursive;
}

.label{
    font-family: 'Inter', sans-serif;
}

.form-label{
    font-family: 'Inter', sans-serif;
}

.create-profile{
    font-size: 70px;
}

.form-check{
    font-size: 20px;
}

.btn.btn-custom.btn-lg{
    background-color: #FAC711;
    color: black;
  }

  .btn.btn-custom{
    background-color: #FAC711;
    color: black;
  }

  .main-div{
    background-color: #FAC711;
}

.card{
    margin-left: 20px!important;
}

.message{
    font-size: 20px;
}