.main-div{
    background-color: #FAC711;
}

.card{
    margin-right: 20px;
    border-radius: 25px !important;
}

.card-header.card-title{
    background-color: #f7e6a8;
    border-radius: 10px !important;
    font-family: 'Staatliches', cursive;
}

img { border-style: none !important; }

.container-new{
    display: grid;
    grid-template-columns: repeat(3, 180px);
    grid-gap: 80px;
    padding: 60px;
    margin: auto;
}
